/* .container {
  overflow: hidden;
} */

.container {
  width: 100%;
  height: 100%;
  background-color: #FFFEEA;
   /* #F8FFFB; */
  overflow: scroll;
}

.connect_botton {
  position: absolute;
  right: 5px;
  padding-top: 12px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}


.header {
  position:fixed;
  left:0;
  top:0;
  right:0;
  width: 100%;
  height: var(--header-height);
  display: table;
  background-color: #E7E5AB;
   /* #7dd3fc;  */
  /* #8AD5E7; */
  z-index: 1;
  /* border-bottom: solid;
  border-color: #333333; */
}


.body {
  position: relative;
  left:0;
  top:var(--header-height);
  right:0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* need to be the same color of stage to avoid flickering */
  background-color: 0xffffff;    
  border-style: none;
  z-index: 0;
  height: 1000px;
  /* height: 100%;
  margin-bottom: var(--header-height); */
}

.inputBoxDiv {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.image {
  position: relative;
  left: 7px;
  top: 17px;
  height: 34px;
  width: 80px;
}

.title {
  position: absolute;
  left: 102px;
  top: 15px;
  font-size: 26px;
  font-weight: bold;
  font-family: "Courier New";
}
